# Core frameworks
fastapi
tensorflow
keras
uvicorn

# Supporting libraries
numpy
pillow
python-multipart
requests

# Environment and config
python-dotenv

# Plotting and visualization
matplotlib
seaborn

# ML utilities
scikit-learn
google-cloud-aiplatform

